<%- include("partials/header") -%>
<h1>About</h1>
<p> We are the artists who believe in the power of memories, and we want to keep them up. Memories lead people to enjoy life, be aware of threats, and behave appropriately. Hence, it would be a good idea
to store them. We offer people a safe place where they can keep track of their memories. </p>
<%- include("partials/footer") -%>
