<%- include("partials/header") -%>

<div>
  <h1>Contact</h1>
  <ul>
     <li><strong>Name:</strong> Ali Tarık Şahin </li>
      <li><strong>Email:</strong> alitarksahin635@gmail.com </li>
      </ul>
</div>
<%- include("partials/footer") -%>
